@model Employee
@{
    var showButtons = (bool)ViewData["showButtons"];
}
<tr>
    <td>
        @Model.FirstName
    </td>
    <td>
        @Model.LastName
    </td>
    <td>
        @Model.Fullname
    </td>
    <td>
        @Model.Email
    </td>
    <td>
        @Model.Gender
    </td>
    <td>
        @Model.Dept
    </td>
    @if (showButtons)
    {
        <td>
            <a class="btn btn-success text-white" asp-page="upsert"
               style="cursor:pointer;width:100px;" asp-route-id="@Model.Id">
                <i class="fa fa-pencil-alt"></i>&nbsp;Edit
            </a>
            <a class="btn btn-primary text-white" asp-page="view"
               style="cursor:pointer;width:100px;" asp-route-id="@Model.Id">
                <i class="fa fa-eye"></i>&nbsp;View
            </a>
            <a class="btn btn-danger text-white" asp-page="delete"
               style="cursor:pointer;width:100px;" asp-route-id="@Model.Id">
                <i class="fa fa-trash-alt"></i>&nbsp;Delete
            </a>

        </td>
    }
</tr>